
<h1>Next case review:</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @next_case_reviews.each do |next_case_review| %>
      <tr>
        <td><h6 class="italic"><%= next_case_review.when %></h6></td>
        <td><%= link_to 'Edit', edit_next_case_review_path(next_case_review) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div id="admin_journals">
  <div class="margin_top_bottom_one center">
    <h2>The next case review will be:</h2>
  </div>
  <div class="shadow">
    <% @next_case_reviews.each do |next_case_review| %>
    <div class="ninety_five padding_half text_left <%= cycle('white_background', 'gray_background') %>">
      <div class="inline_block seventy margin_none">
        <p class="italic bold inline gray margin_none"><%= next_case_review.when %></p>
      </div>
      <div class="float_right fifteen min_125">
        <%= link_to("change", edit_next_case_review_path(next_case_review), :class => 'action edit inline float_right margin_right_one') %>
      </div>
    </div>
    <% end %>
</div>
