<div id="page" class="shadow">
<section class="slide shadow">
  <ul class="rslides" id="slides0">

    <!-- Medical Research Slide -->
    <li>
      <%= image_tag("slides/medical_research.jpg", :class => "full") %>
        <div class='box_desktop white_transluscent_background rounded_corners shadow padding_one'>
          <h2>Medical Research</h2>
          <p>Analytic Morphomics identifies bio-markers using medical imaging that provides insight into disease processes, treatment options, and outcome variability.</p>
        </div>
    </li>

    <!-- Automotive Medicine Slide -->
    <li>
      <%= image_tag("slides/slide_car.jpg", :class => "full") %>
      <div class='box_desktop white_transluscent_background rounded_corners shadow padding_one'>
          <h2>Auto Safety</h2>
          <p>Analytic Morphomics improves automotive engineers&#39; understanding of the variability of a population in order to better protect individuals in motor vehicle crashes.</p>
      </div>
    </li>

    <!-- Surgical Outcomes Slide -->
    <li>
      <%= image_tag("slides/improving_surgical_outcomes.jpg", :class => "full") %>
      <div class='box_desktop white_transluscent_background rounded_corners shadow padding_one'>
        <h2>Improving Surgical Outcomes</h2>
        <p>Analytic Morphomics helps doctors educate patients using their own specific bio-markers, engaging patients the shared decision making and motivating them to adopt healthier lifestyles.</p>
      </div>
    </li>

    <!-- Medical Devices Slide -->
    <li>
      <%= image_tag("slides/devices.jpg", :class => "full") %>
      <div class='box_desktop white_transluscent_background rounded_corners shadow padding_one'>
        <h2>Devices</h2>
        <p>Analytic Morphomics characterizes the variation in a population, thereby enabling the design of devices that provide optimal benefit to individuals across the spectrum.</p>
      </div>
    </li>

    <!-- Drug Treatment Slide -->
    <li>
      <%= image_tag("slides/drug_treatment.jpg", :class => "full") %>
      <div class='box_desktop white_transluscent_background rounded_corners shadow padding_one'>
        <h2>Drug Treatment</h2>
        <p>Analytic Morphomics enables more precise evaluation of a patient for drug dosing and measurement of treatment effectiveness.</p>
      </div>
    </li>

    <!-- Risk Analysis Slide -->
    <li>
      <%= image_tag("slides/risk_analysis.jpg", :class => "full") %>
      <div class='box_desktop white_transluscent_background rounded_corners shadow padding_one'>
        <h2>Risk Analysis</h2>
        <p>Analytic Morphomics enables more precise evaluation of patient risk at baseline and following surgical or medical treatment. Using morphomic variables, far more accurate prediction of individual outcomes and costs is possible.</p>
      </div>
    </li>
   </ul>
</section>

<div class="block eighty centered" style="margin: 2em auto">
  <h1 class="margin_bottom_half">Analytic Morphomics</h1>
  <p class="italic">Linking body factors to health outcomes for improved insight, treatment, and prevention</p>
</div>
<hr class="sixty TB_margin_one" style="display: block; margin: .5em auto; border-top: 2px solid #ccc;">
<div class="block centered" style="margin: 2em auto">
  <h3>With Analytic Morphomics, you can compare:</h3>
</div>
<div class="block centered" style="margin: 2em auto">
  <div class="inline_block twenty padding_lr_half">
    <%= image_tag("icons/organ_size_and_condition.png") %>
    <p class="italic">organ size and condition</p>
  </div>
  <div class="inline_block twenty padding_lr_half">
    <%= image_tag("icons/visceral_and_subcutaneous_fat.png") %>
    <p class="italic">visceral and subcutaneous fat volumes, distribution, and density</p>
  </div>
  <div class="inline_block twenty padding_lr_half">
    <%= image_tag("icons/cortical_and_trabecular_bone.png") %>
    <p class="italic">bone measures including density (BMD) and shape from cortical and trabecular bone</p>
  </div>
</div>
<div class="block centered" style="margin: 2em auto">
  <div class="inline_block twenty padding_lr_half">
    <%= image_tag("icons/muscle_size_and_quality_psoas.png") %>
    <p class="italic">Muscle volume and quality from psoas and other muscle groups</p>
  </div>
  <div class="inline_block twenty padding_lr_half">
    <%= image_tag("icons/vascular_measures.png") %>
    <p class="italic">vascular measures including calcification, lengths, and location.</p>
  </div>
</div>

<hr class="dotty">

<div class="block eighty centered">
  <%= image_tag("scan_layers.png", :class => "inline_block forty_five", :style => "margin-top: 2em; margin-right: 1em;") %>
  <div class="inline_block text_left fifty" style="margin: 2em auto;">
    <h3>There is no longer any need to guess<br> about a patient's physical or physiological state.</h3>
    <div class="block text_left" style="margin: 2em auto">
      <h5 class="bold">The Problem:</h5>
      <p class="italic padding_half" style="padding-left: 0;">Typically, clinicians will either perform an eyeball test on patients before surgery or course of treatment, or they’ll use BMI to gauge relative health. Unfortunately, these approaches are too crude in their execution.</p>
    </div>
    <div class="block text_left" style="margin: 2em auto">
      <h5 class="bold">An Elegant Solution</h5>
      <p class="italic padding_half" style="padding-left: 0;">Approximately half of all existing electronic storage contains medical imaging data. Due to the nature of the medium used to capture this data and the commitment to preserve and store the information, there is a veritable flood of discovery and insight at our fingertips just waiting to be tapped.</p>
      <p class="italic padding_half" style="padding-left: 0;">From this massive body of data, we collect and index Analytic Morphomics —the measurements of specific bio-markers from patients’ bodies.</p>
      <p class="italic padding_half margin_bottom_two" style="padding-left: 0;">These measurements provide quantifiable data about the patient's current state, by measuring and analyzing what's on the inside.</p>
      <a href="about_morphomics" class="blue_btn">learn more</a>
    </div>
  </div>
</div>

<hr class="dotty">

<div class="block eighty centered" style="margin: 2em auto">
  <h3 class="margin_bottom_half">Use our Research</h3>
</div>

<div class="block centered" style="margin: 2em auto">
  <a href="ramp" class="inline_block thirty shadow shadow_change rounded_corners padding_one margin_one">
    <%= image_tag("icons/icon_scans_measure.png", :class => "full") %>
    <h5 class="bold">RAMP Calculator</h5>
    <p class="italic padding_half">Compare your patient’s quantitative measurements to a control population</p>
  </a>
  <a href="publications" class="inline_block thirty shadow shadow_change rounded_corners padding_one margin_one">
    <%= image_tag("icons/icon_papers.png", :class => "full") %>
    <h5 class="bold">Publications</h5>
    <p class="italic padding_half">See how Analytic Morphomics is impacting the medical field</p>
  </a>
</div>

<div class="background_nodes" style="min-height: 700px">
  <div class="block eighty centered" style="margin: 2em auto; padding-top: 3em;">
    <h3 class="white margin_bottom_half">Application of Analytic Morphomics</h3>
  </div>
  <div class="block centered" style="margin: 2em auto">
    <div class="inline_block twenty_five padding_lr_half">
      <%= image_tag("scan_layers_small.png", :class => "full") %>
      <h3 class="white">RAMP</h3>
      <p class="white bold italic">Reference Analytic Morphomics Population</p>
      <p class="white padding_top_one margin_bottom_two">Indexing the bodily measurements of the population so researchers can compare patients to what’s “normal.”</p>
      <a href="ramp" class="blue_btn">learn more</a>
    </div>
    <div class="inline_block twenty_five padding_lr_half">
      <%= image_tag("mag_graphic_people.png", :class => "full") %>
      <h3 class="white">MAG</h3>
      <p class="white bold italic">Morphomic Analysis Group</p>
      <p class="white padding_top_one margin_bottom_two">A group of investigators that are working to understand how variations in specific body structures impact and predict outcomes.</p>
      <a href="mag" class="blue_btn">learn more</a>
    </div>
    <div class="inline_block twenty_five padding_lr_half">
      <%= image_tag("move_eat_breathe_relax_light.png", :class => "full") %>
      <h3 class="white">MSHOP</h3>
      <p class="white bold italic">Michigan Surgical & Health Optimization Program</p>
      <p class="white padding_top_one margin_bottom_two">Training patients for surgery and assisting in recovery, thereby lessening length of hospital stay and reducing costs. </p>
      <a href="mshop" class="blue_btn">learn more</a>
    </div>
  </div>
</div>

</div>
