<%= render(:partial => 'icam_header') %>
    <!-- This is the white part of the page where all the content will be. -->
    <div id="page" class="gray_background shadow eighty">
      <div class="wrapper padding_top_seven inline_block">
        <div class="sixty inline_block no_margin padding_left_seven margin_bottom_two" id="left_container">
            <h1 class="bold inline_block">ICAM Pedestrian Consortium</h1>
            <hr class="gray_line">
            <h3 class="italic">Our mission is to better understand, treat, and prevent all types of crash injuries.</h3>
            <div id="body_1">
              <h3 class="padding_top_two">A Worldwide Challenge</h3>
              <hr class="dotty">
              <p class="padding_bottom_one">In 2008, the United Nations added Global Technical Regulation #9 - Pedestrian Safety to the Global Registry. This regulation seeks to better protect the thousands of pedestrians and cyclists that are injured by motor vehicles each year across the globe.</p>
              <p class="padding_bottom_one">Data collected from the International Harmonized Research Activities Pedestrian Safety working group demonstrates that pedestrian safety is a worldwide challenge.</p>
              <div class="inline_block">
                <div class="inline_block twenty_four centered">
                  <%= image_tag("pedestrian_consortium/north_america.png", :class => "full", :alt => "North America: 4,735")%>
                  <p class="italic blue small padding_top_none">In 2013, there were 4,735 pedestrian and cyclist deaths in the United States. (WHO)</p>
                </div>
                <div class="inline_block twenty_four centered">
                  <%= image_tag("pedestrian_consortium/china.png", :class => "full", :alt => "China: 88,865")%>
                  <p class="italic blue small padding_top_none">According to the World Health Organization, 88,865 pedestrians and cyclists die as a result of road accidents in China. (WHO)</p>
                </div>
                <div class="inline_block twenty_four centered">
                  <%= image_tag("pedestrian_consortium/india.png", :class => "full", :alt => "India: 26,981")%>
                  <p class="italic blue small padding_top_none">26,981 pedestrians and cyclists were killed in road traffic crashes in India in 2014. (WHO)</p>
                </div>
                <div class="inline_block twenty_four centered">
                  <%= image_tag("pedestrian_consortium/european_union.png", :class => "full", :alt => "European Union: 7,710")%>
                  <p class="italic blue small padding_top_none">In the European Union about 7,710 pedestrians and cyclists are killed. (WHO)</p>
                </div>
              </div>
              <div class="inline_block text_center">
                <div class="inline_block twenty_four centered">
                  <%= image_tag("pedestrian_consortium/japan.png", :class => "full", :alt => "North America: 4,735")%>
                  <p class="italic blue small padding_top_none">In Japan, 2,986 pedestrians and cyclists are killed. (WHO)</p>
                </div>
                <div class="inline_block twenty_four centered">
                  <%= image_tag("pedestrian_consortium/korea.png", :class => "full", :alt => "China: 88,865")%>
                  <p class="italic blue small padding_top_none">In Korea around 2,669 pedestrians and cyclists are killed. (WHO)</p>
                </div>
                <div class="inline_block twenty_four centered">
                  <%= image_tag("pedestrian_consortium/thailand.png", :class => "full", :alt => "India: 26,981")%>
                  <p class="italic blue small padding_top_none">In Thailand, there were 3,393 pedestrian and cyclist deaths in 2012. (WHO)</p>
                </div>
              </div>
              <p class="padding_top_one">Of those individuals involved in pedestrian/motor vehicle crashes, our most vulnerable populations, children and the elderly, are also the most likely to be in those accidents; children under the age of 15 and adults over the age of 60.</p>
              <p class="padding_top_one">To gain an in-depth understanding of this problem, see <a href="#">this infographic from the World Health Organization.</a></p>
            </div>
          <div id="body_2">
            <h3 class="padding_top_two">Our Plan</h3>
            <hr class="dotty">
            <p class="padding_bottom_one">In partnership with global automotive manufacturers and suppliers, as well as regional law enforcement and road safety agencies, and via outside funding, ICAM has created the Pedestrian Consortium which is focused on protecting vulnerable populations on all roadways throughout the globe.</p>
            <p class="padding_bottom_one">There are two long term goals for the consortium:</p>
            <div class="inline_block text_center padding_top_three">
                <div class="inline_block forty centered">
                  <h4 class="blue bold">1. Produce Data</h4>
                  <%= image_tag("pedestrian_consortium/data.png", :class => "full", :style => "max-width: 180px;", :alt => "Produce Data")%>
                  <p class="italic blue small padding_top_none">Generate a current and usable data set that companies, public agencies, and researchers can use to protect vulnerable road users.</p>
                </div>
                <div class="inline_block forty centered">
                  <h4 class="blue bold">2. Make sharing that data easy</h4>
                  <%= image_tag("pedestrian_consortium/globe.png", :class => "full", :style => "max-width: 180px;", :alt => "Make sharing that data easy")%>
                  <p class="italic blue small padding_top_none">Establish a global platform for the exchange of new technology, research, and best practices related to improving road safety.</p>
                </div>
              <p class="padding_bottom_one padding_top_three">There are four ways in which ICAM will work to achieve these goals:</p>
              <div class="inline_block">
                <div class="inline_block twenty_four">
                  <%= image_tag("pedestrian_consortium/badge.png", :class => "full", :alt => "Law Enforcement")%>
                  <p class="italic blue small centered padding_top_none">Engage with local law enforcement to collect cases</p>
                </div>
                <div class="inline_block twenty_four">
                  <%= image_tag("pedestrian_consortium/calendar.png", :class => "full", :alt => "Quarterly Meetings")%>
                  <p class="italic blue small centered padding_top_none">Host quarterly consortium meetings to review cases and outcomes</p>
                </div>
                <div class="inline_block twenty_four">
                  <%= image_tag("pedestrian_consortium/access.png", :class => "full", :alt => "Data Access & Analysis")%>
                  <p class="italic blue small centered padding_top_none">Provide members of the consortium with access to data and subsequent analysis</p>
                </div>
                <div class="inline_block twenty_four">
                  <%= image_tag("pedestrian_consortium/distribute.png", :class => "full", :alt => "Disseminate Data")%>
                  <p class="italic blue small centered padding_top_none">Disseminate consortium results and analysis to the public and regulatory agencies</p>
                </div>
              </div>
          </div>
          <div id="body_3">
            <h3 class="padding_top_two">Partners</h3>
            <hr class="dotty">
            <p class="padding_bottom_one">We are pleased to partner with <a href="#">Together for Safer Roads,</a> local and state units of government, including:</p>
            <div class="inline_block text_center padding_top_three">
              <div class="inline_block thirty padding_left_one_percent centered">
                <%= image_tag("pedestrian_consortium/medical_examiners.png", :class => "full", :alt => "Medical Examiners")%>
                <p class="italic blue small padding_top_none">Medical examiners</p>
              </div>
              <div class="inline_block thirty padding_left_one_percent centered">
                <%= image_tag("pedestrian_consortium/hospital.png", :class => "full", :alt => "Trauma Centers & Hospitals")%>
                <p class="italic blue small padding_top_none">Trauma centers/hospitals</p>
              </div>
              <div class="inline_block thirty padding_left_one_percent centered">
                <%= image_tag("pedestrian_consortium/police_station.png", :class => "full", :alt => "Police/Sheriff")%>
                <p class="italic blue small padding_top_none">Police/sheriff departments</p>
              </div>
              <div class="inline_block text_center padding_top_three">
                <div class="inline_block forty padding_left_one_percent centered">
                  <%= image_tag("pedestrian_consortium/mhsp.png", :class => "full", :alt => "Michigan Office of Highway Safety Planning")%>
                  <p class="italic blue small padding_top_none">Michigan Office of Highway Safety Planning</p>
                </div>
                <div class="inline_block forty padding_left_one_percent centered">
                  <%= image_tag("pedestrian_consortium/mdot.png", :class => "full", :alt => "Michigan Department of Transportation")%>
                  <p class="italic blue small padding_top_none">Michigan Department of Transportation</p>
                </div>
          </div>
        </div>
        <h4 class="blue bold padding_top_three padding_bottom_one">Participating Communities</h4>
        <ul>
            <li>Ann Arbor (Washtenaw County)</li>
            <li>Lansing (Ingham County)</li>
            <li>Grand Rapids (Kent County)</li>
        </ul>
        <h4 class="blue bold padding_top_three padding_bottom_one">Automotive Partners</h4>
        <div class="inline_block text_center padding_top_one padding_bottom_two full">
          <div class="inline_block twelve padding_left_one_percent">
            <%= image_tag("pedestrian_consortium/volkswagen.png", :class => "full", :alt => "Volkswagen")%>
          </div>
          <div class="inline_block twelve padding_left_one_percent">
            <%= image_tag("pedestrian_consortium/bmw.png", :class => "full", :alt => "BMW")%>
          </div>
          <div class="inline_block twelve padding_left_one_percent">
            <%= image_tag("pedestrian_consortium/benz.png", :class => "full", :alt => "Mercedes Benz")%>
          </div>
          <div class="inline_block twelve padding_left_one_percent">
            <%= image_tag("pedestrian_consortium/audi.png", :class => "full", :alt => "Audi")%>
          </div>
          <div class="inline_block twelve padding_left_one_percent">
            <%= image_tag("pedestrian_consortium/porsche.png", :class => "full", :alt => "Porsche")%>
          </div>
          <div class="inline_block twelve padding_left_one_percent">
            <%= image_tag("pedestrian_consortium/gm.png", :class => "full", :alt => "General Motors")%>
          </div>
        </div>
          <hr class="dotty">
          <div id="body_4" class="centered">
            <h5 class="bold padding_top_three margin_bottom_two">Want to learn more about the consortium?</h5>
            <a class="blue_btn shadow white" href="mailto:automotivemedicine@umich.edu?Subject=Pedestrian_Consortium">email us</a>

          </div>


        </div> <!-- end of the main content container that hangs out on the left. -->
        <div class="twenty inline_block no_margin right fixed_container">
          <ul>
            <a><li id="side_1"  onClick="$('html, body').animate({scrollTop: $('#body_1').offset().top-100}, 250);">A Worldwide Challenge</li></a>
            <a><li id="side_2"  onClick="$('html, body').animate({scrollTop: $('#body_2').offset().top-100}, 250);">Our Plan</li></a>
            <a><li id="side_3"  onClick="$('html, body').animate({scrollTop: $('#body_3').offset().top-100}, 250);">Partners</li></a>
            <a><li id="side_4"  onClick="$('html, body').animate({scrollTop: $('#body_4').offset().top-100}, 250);">Learn More</li></a>
          </ul>
        </div> <!-- end of 80% page width wrapper -->
      </div>
    </div>
    </div>

  </body>
  <script>
  //makes the jump-to section light up according to what section the user is looking at.
      $(document).ready(function () {

          //Chanage these to match your doc layout
          var startchange = $("#left_container");
          var side = ["side_1","side_2","side_3","side_4"];
          var body = ["body_1","body_2","body_3","body_4"];


              //$('html, body').animate({scrollTop: $("#body_5").offset().top}, 2000);


          if (startchange.length) {
                  $(document).scroll(function () {

                  body.forEach(function(value,i) {
                      lower = $('#' + body[i]).offset().top;

                      if(i>=1){
                          upper = $('#' + body[i-1]).offset().top;
                      } else {
                          upper = -1;
                      }

                      //alert($(this).scrollTop());
                      //alert("Upper: "+upper+"  Lower: "+lower);


                      if ( ($(this).scrollTop() > upper) && ($(this).scrollTop() < lower)){
                        $('#' + side[i]).css({'color': '#0283FF'});
                      } else {
                          $('#' + side[i]).css({'color': '#444'});

                      }

                  });


              });
          }


      });

  </script>

</html>
