<%= render(:partial => 'icam_header') %>


    <!-- This is the white part of the page where all the content will be. -->
    <div id="page" class="gray_background shadow eighty">
      <div class="wrapper padding_top_seven inline_block">
        <div class="sixty inline_block no_margin padding_left_seven" id="left_container">
            <h1 class="bold inline_block">ICAM Research</h1>
            <hr class="gray_line">
            <h3 class="italic padding_bottom_one">Improving treatment and prevention by developing a deeper understanding of the causes of injuries.</h3>
              <p class="padding_bottom_one">Our research team was one of the founding members of the Crash Injury Research Engineering Network (CIREN), a government-industry research consortium of NHTSA and we were involved with this project for 14 years.</p>
              <p class="padding_bottom_one">We are committed to supporting the NIH Roadmap's integrated vision by generating opportunities in three main areas:</p>
              <ol class="padding_left_four">
                  <li>New pathways to discovery</li>
                  <li>Research teams of the future</li>
                  <li>Re-engineering the research enterprise</li>
              </ol>
            <div id="body_1">
              <div id="icam_morphomics">
              <h3 class="padding_top_two">ICAM + Morphomics</h3>
              <hr class="dotty">
              <%= image_tag("icam_research/scan_layers.png", :alt => "layers of CT scans", :class => "fifty max_450")%>

              <div class="float_none forty_eight inline_block">
                <div class="margin_one margin_top_none margin_top_none">
                  <p class="padding_bottom_one"><a href="#">Analytic Morphomics</a> is the term we used to describe the innovative high-throughput, highly automated, anatomically indexed processing of 3D medical imaging data that we developed to support interdisciplinary translational crash research.</p>
                  <p class="padding_bottom_one">It’s designed to take rapid advantage of advances in computation and medical imaging as well as the statistical techniques developed for genomic and proteomic analysis.</p>
                  <p class="padding_bottom_one">Furthermore, Southeast Michigan is the international epicenter of automotive engineering and its close proximity to the UM allows for cross training and research collaboration not possible in any other location.</p>
                  <h4 class="italic padding_top_one padding_bottom_one dark_gray">Joint research findings are immediately translatable into vehicle design changes.</h4>
                  <p class="padding_bottom_one">Industry experts estimate that our team's crash injury findings have already resulted in the improved safety design of over 60 million vehicles.</p>
                </div>
              </div>
            </div>
            </div>
          <div id="body_2">
            <div id="pedestrian_consortium"
            <h3 class="padding_top_two">Pedestrian Consortium</h3>
            <hr class="dotty">
            <%= image_tag("icam_research/pedestrians.png", :alt => "pedestrians", :class => "fifty max_450")%>
            <div class="float_none forty_five inline_block padding_left_one">
              <h4 class="italic padding_bottom_one dark_gray">Our mission is to better understand, treat, and prevent all types of crash injuries.</h4>
              <p class="padding_bottom_one margin_bottom_one">In partnership with global automotive manufacturers and suppliers, as well as regional law enforcement and road safety agencies, and via outside funding, ICAM has created the Pedestrian Consortium which is focused on protecting vulnerable populations on all roadways throughout the globe.</p>
              <a class="blue_btn" href="pedestrian_consortium">learn more</a>
            </div>
          </div>

          <div id="body_3">
            <div id="case_review">
            <h3 class="padding_top_two">ICAM Case Reviews</h3>
            <hr class="dotty">
            <%= image_tag("icam_research/case_review.png", :alt => "Case Review", :class => "fifty max_450")%>
            <div class="float_none forty_five inline_block padding_left_one">
              <h4 class="italic padding_bottom_one dark_gray">Performing in-depth studies of crashes, injuries, and treatments to improve processes and outcomes. </h4>
              <p class="padding_bottom_one margin_bottom_one">ICAM Case Reviews involve a collaboration of clinicians and engineers in academia, industry, and government.</p>
              <p class="padding_bottom_one margin_bottom_one">Our mission is to positively impact the prevention, treatment, and rehabilitation of motor vehicle crash injuries to reduce deaths, disabilities, and human and economic costs.</p>
              <p class="padding_bottom_one margin_bottom_one">At ICAM, we strive to provide a neutral forum where professionals from law enforcement, public safety, healthcare, government, and the automotive industry can share information and exchange ideas in the common pursuit of injury prevention. Our case reviews are held monthly and are open to professionals from those communities.</p>
            </div>
          </div>
          </div>


          <div id="body_4">
            <div id="computational_biomechanics">
            <h3 class="padding_top_two">Computational Biomechanics</h3>
            <hr class="dotty">
            <%= image_tag("icam_research/computational_biomechanics.png", :alt => "Computational Biomechanics", :class => "fifty max_450")%>
            <div class="float_none forty_five inline_block padding_left_one">
              <p class="padding_bottom_one margin_bottom_one">In the past, both government and industry have depended on mechanical crash dummies for automotive safety research and development. While these dummies have led to many improvements in crash safety, computational modeling offers the potential for faster advances without the need for prior dummy and instrumentation development.</p>
              <p class="padding_bottom_one margin_bottom_one">There is now general recognition that computer based human finite element models will be the foundation for future safety testing and development. The sustained exponential increase in computational speed is expected to continue and will make the use of these complex models feasible. Medical researchers will need to lead the way and we are the foremost research group in the world utilizing medical imaging data from real-life crashes to determine the effect of body composition on injury tolerance.</p>
              <p class="padding_bottom_one margin_bottom_one">We see clear signs of markedly increased industrial and governmental funding for human body modeling research in the near future and this center will be optimally positioned to lead the international effort if it has the institutional support and facilities to recruit faculty with expertise in computational biomechanics. To the extent that test dummies and instrumentation are needed for validation or regulatory testing, advances in human finite element modeling will provide necessary input for dummy development and injury reference values. These computational human body models also have tremendous potential outside automotive safety such as the development of medical devices or artificial joints as well as virtual trainers.</p>
            </div>
          </div>
          </div>


          <div id="body_5">
            <div id="human_modeling">
            <h3 class="padding_top_two">Human Modeling</h3>
            <hr class="dotty">
            <%= image_tag("icam_research/humanetics.png", :alt => "humanetics", :class => "fifty max_450")%>
            <div class="float_none forty_five inline_block padding_left_one">
              <h4 class="bold dark_gray padding_bottom_half">Human Body Models</h4>
              <p class="padding_bottom_one margin_bottom_one">Historically, crash test dummies or Anthropomorphic Test Devices (ATDs) were modeled after cadavers and subjected to test crashes of all types, and while invaluable insights have been generated from that research, even more can be done via Human Body Models (HBM), both virtually and with the physical ATD forms.</p>
              <p class="padding_bottom_one margin_bottom_one">Currently, there are three types of crash testing modes:</p>
              <ol class="padding_left_four">
                <li>Anthropomorphic Test Devices (ATDs)- physical</li>
                <li>Anthropomorphic Test Devices based on Human Body Models (ATD FEM)- physical</li>
                <li>Finite Element Modeling- Human Body (FEM)- virtual</li>
              </ol>
              <p class="padding_bottom_one margin_bottom_one">With FEM, otherwise known as virtual modeling, there is great potential to improve injury assessment and treatment, as well as assist in the prevention of injuries during Motor Vehicle Crashes (MVCs.) For automotive engineers, safety researchers, and clinicians, virtual human body models expand the collision conditions and occupant configurations so that they may be studied beyond what is possible with expensive repeated physical tests with standard ATDs. With recent advances in computing it has become far more informative and less expensive to use computers to manage the modeling.</p>
              <h4 class="bold dark_gray padding_bottom_half">Expertise</h4>
              <p class="padding_bottom_one margin_bottom_one">For almost 20 years, ICAM has collected and documented real-life MVCs in unmatched detail. From the subsequent analysis of this data, and the processing and analysis of thousands of CT scans from crash and non-crash subjects alike; ICAM has the data and capability to help create more detailed and anatomically correct human body models of any stature, age, and gender.</p>
              <h4 class="bold dark_gray padding_bottom_half">Focus on a vulnerable population</h4>
              <p class="padding_bottom_one margin_bottom_one">ICAM has partnered with Toyota and Humanetics Innovative Solutions to expand and improve upon existing methods of crash testing by utilizing the Center’s next generation data for geometry and material properties. By concentrating on the development and validation of a set of elderly crash test devices based on computer modeling, the partnership seeks to better protect one of the most vulnerable and underserved populations related to MVCs.</p>
            </div>
          </div>
          </div>

              </div>
          </div>



        </div> <!-- end of the main content container that hangs out on the left. -->
        <div class="twenty inline_block no_margin right fixed_container white_background rounded_corners z_two padding_left_two">
          <ul>
            <a><li id="side_1"  onClick="$('html, body').animate({scrollTop: $('#body_1').offset().top-100}, 250);">ICAM + Morphomics</li></a>
            <a><li id="side_2"  onClick="$('html, body').animate({scrollTop: $('#body_2').offset().top-100}, 250);">Pedestrian Consortium</li></a>
            <a><li id="side_3"  onClick="$('html, body').animate({scrollTop: $('#body_3').offset().top-100}, 250);">ICAM Case Reviews</li></a>
            <a><li id="side_4"  onClick="$('html, body').animate({scrollTop: $('#body_4').offset().top-100}, 250);">Computational Biomechanics</li></a>
            <a><li id="side_5"  onClick="$('html, body').animate({scrollTop: $('#body_5').offset().top-100}, 250);">Human Modeling</li></a>
          </ul>
        </div> <!-- end of 80% page width wrapper -->
      </div>
    </div>
    </div>

  <script>

  //makes the jump-to section light up according to what section the user is looking at.
      $(document).ready(function () {
        var startchange = $("#left_container");
        var side = ["side_1","side_2","side_3","side_4","side_5"];
        var body = ["body_1","body_2","body_3","body_4","body_5"];
        if (startchange.length) {
          $(document).scroll(function () {
            body.forEach(function(value,i) {
              lower = $('#' + body[i]).offset().top;
              if(i>=1){
                  upper = $('#' + body[i-1]).offset().top;
              } else {
                  upper = -1;
              }
              if ( ($(this).scrollTop() > upper) && ($(this).scrollTop() < lower)){
                $('#' + side[i]).css({'color': '#0283FF'});
              } else {
                  $('#' + side[i]).css({'color': '#444'});
                }
              });
            });
          }
        });

  </script>
